# Server
PORT=3000
NODE_ENV=development

# Supabase
SUPABASE_URL=https://rkawksswxwfuodtvrkmj.supabase.co
SUPABASE_ANON_KEY=sb_publishable_mwDKY4srtO8eoj8d03MHgw_bzEX-IA9
SUPABASE_SERVICE_KEY=seu_service_role_key_aqui

# JWT
JWT_SECRET=your-secret-key-change-in-production
